:root {
  --min-container-height: 300px;
}
.container {
  position: relative;
  min-width: 700px;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  z-index: 105;
  min-height: var(--min-container-height);
  font-family: 'Roboto', sans-serif;
}

.floating {
  position: absolute;
  cursor: move;
}

.zoom-1 {
  zoom: 0.1;
}
.zoom-2 {
  zoom: 0.2;
}
.zoom-3 {
  zoom: 0.3;
}
.zoom-4 {
  zoom: 0.4;
}

.zoom-5 {
  zoom: 0.5;
}

.zoom-6 {
  zoom: 0.6;
}

.zoom-7 {
  zoom: 0.7;
}

.zoom-8 {
  zoom: 0.8;
}

.zoom-9 {
  zoom: 0.9;
}

.zoom-10 {
  zoom: 1;
}

/* .non-floating .ttgt-wrapper {
  position: relative !important;
}

.non-floating #outputArea {
  position: relative !important;
  bottom: unset;
  right: unset;
} */

.output-header {
  background-color: #aaa;
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.output-header-msg {
  display: flex;
  width: 70%;
  margin: 5px;
  padding-left: 20px;
}

.btn-group:after {
  content: '';
  clear: both;
  display: table;
}

.btn-group button {
  justify-self: flex-end;
  border: 1px solid #fff;
  height: 25px;
  width: 15px;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #fff;
  color: #888;
  text-align: center;
  cursor: pointer;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
  margin-right: 5px;
}

.btn-group button:hover {
  background-color: #f2f2f2;
}

.output-actions {
  display: flex;
  flex: 1;
  width: 30%;
  min-width: 200px;
  justify-content: flex-end;
}

.grid-slider {
  display: block;
  background-color: #fff;
}

.hide {
  display: none;
}

.show {
  display: inherit;
}

.grid {
  display: flex;
  justify-content: space-between;
  border: 1px solid #aaa;
  height: 100%;
  min-height: var(--min-container-height);
}

.stats {
  float: left;
  width: 200px;
  background-color: #f2f2f2;
  box-shadow: 5px 0 5px -5px #888;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.konva-grid {
  margin: 10px 0px;
  padding-right: 20px;
}

.stats-item {
  float: left;
  height: 75px;
}

.stats-title {
  text-transform: uppercase;
  margin-bottom: 4px;
  font-size: 14px;
  color: #00000073;
}

.stats-value {
  color: #828282;
  font-size: 24px;
}

.konva-body {
  flex: 1;
}

.alert {
  margin-top: 0.4rem;
  margin-left: 0.4rem;

  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 20px;
}

.clr-success {
  color: #155724;
  background-color: #d4edda;
}

.clr-info {
  color: #818182;
  border-color: #aaa;
  background-color: #d6d8db;
}

.clr-danger {
  color: #721c24;
  background-color: #f8d7da;
}
